/* SETTINGS +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.nm_settings_section {
  border: 1px solid var(--background-modifier-border);
  padding: 10px;
  margin-top: 20px;
}

.nm_settings_section_title {
  font-weight: 600;
}

.nm_settings_section_hided {
  display: none;
}

/* FILES LIST +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.nm_file {
  display: flex;
}

.nm_file_icon {
  margin-left: auto;
  background-color: var(--background-modifier-hover);
  border-radius: var(--radius-s);
  font-size: 9px;
  font-weight: var(--font-semibold);
  letter-spacing: 0.05em;
  line-height: var(--line-height-normal);
  padding: 0 var(--size-4-1);
  text-transform: uppercase;
  align-self: center;
}
